## exports
export(
  lmExact,
  lmInfl,
  inflPlot,
  pvalPlot,
  jackLM,
  bootLM,
  regionInfl,
  pcomp,
  rpLM
)

## imports
importFrom("graphics", "abline", "grid", "legend", "par", "plot", "points", "mtext", "stripchart",
           "axTicks", "lines", "segments", "barplot", "text", "arrows", "rect", "title", "polygon")
importFrom("stats", "coef", "lm", "optim", "residuals", "rnorm", "influence.measures", "qbeta",
           "cor", "na.omit", "predict", "pt", "qt", "model.frame", "dt", "rt", "hatvalues", "sd",
           "df.residual", "integrate", "fitted", "cor.test", "rstudent", "pf", "qf", "median", 
           "mad", "formula", "qnorm")
importFrom("utils", "data", "flush.console", "setTxtProgressBar", "txtProgressBar")
importFrom("grDevices", "rainbow", "heat.colors")
importFrom("boot", "boot", "boot.ci")
importFrom("boot.pval", "boot.pval")
importFrom("methods", "is")
importFrom("L1pack", "lad")
importFrom("quantreg", "rq")
importFrom("isotree", "isolation.forest")
importFrom("robustbase", "lmrob", "lmrob.control")

## S3 methods


